{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'lang-logo.png'%}">
    </a>
    <h1>Twitter Sentiment Classifier</h1>
    <p>Use 1.6-million-tweet dataset to train a classifier model that can help customers know the evaluations on Twitter platform about a product</p>
    <!--
    <a type="button" class="btn btn-lg btn-secondary" href="#"> My Projects</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/tdavn/django-heroku">GitHub Source</a>
    -->
  </div>
</div>
<div class="container">
  <!--
  <div class="alert alert-info text-center" role="alert">
    To deploy your own copy, and learn the fundamentals of the Heroku platform, head over to the <a href="https://devcenter.heroku.com/articles/getting-started-with-python" class="alert-link">Getting Started with Python on Heroku</a> tutorial.
  </div>
  -->
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> Group Members</h3>
      <ul>
        <li>Najna Nazeer</li>

        <li>Jiya Peter </li>
        <li>Trinh Duc Anh</li>

      </ul>
      <img src="{% static 'sent.png'%}" class="img-fluid" alt="twitter sentiment">
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Classifier Features</h3>
      <ul>
        <li>Trained from 140sentiment 1.6-million-tweet data set</li>
        <li>Classifier</li>
        <ul>
          <li><code>Machine Learning based model</code>: bags-of-word approach</li>
          <li><code>RNN based model</code>: Powerful approach</li>

        </ul>
        <li>Analyis is based on <b>Real-time</b> tweet collection</li>
        <li>Latest bootstrap & powerful HTML5</li>
        <li>Flexible and mobile-friendly display</li>
      </ul>
      <!--
      <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
      <ul>
        <li><a href="https://www.heroku.com/home">Heroku</a></li>
        <li><a href="https://devcenter.heroku.com/">Heroku Dev Center</a></li>
        <li><a href="https://devcenter.heroku.com/articles/getting-started-with-python">Getting Started with Python on Heroku</a></li>
        <li><a href="https://devcenter.heroku.com/articles/django-app-configuration">Configuring Django Apps for Heroku</a></li>
      </ul>
      -->
    </div>
  </div> <!-- row -->
  <br/> <br/>
   <div class="alert alert-info text-center" role="alert">
    The project is still incomplete. Our group are learning to run the project as comprehensive as possible. All suggestions are welcomed!
  </div>

</div>
{% endblock %}
